<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootcrud.mapper.AdminMapper">
    <insert id="insertAdmin">
        insert into admin(admin_id, user_id, create_time, update_time)
        VALUES (#{adminId},#{userId},#{creatTime},#{updateTime})
    </insert>
    <update id="updateAdmin">
        update admin set update_time=#{updateTime} where user_id=#{userId}
    </update>
    <!--<resultMap id="adminMap" type="com.example.springbootcrud.pojo.Admin">
        <id property="adminId" column="adminId"/>
        <result property="userId" column="userId"/>
        <result property="creatTime" column="creatTime"/>
        <result property="updateTime" column="updateTime"/>
        <association property="avatar" select="com.example.springbootcrud.mapper.AdminMapper.getAdminAvatar" column="avatar"/>
    </resultMap>-->
    <!--<resultMap id="adminMap" type="com.example.springbootcrud.pojo.Admin">
        <id property="adminId" column="adminId"/>
        <result property="userId" column="userId"/>
        <result property="creatTime" column="creatTime"/>
        <result property="updateTime" column="updateTime"/>
        <association property="avatar" select="getAdminAvatar" column="userId"/>
    </resultMap>-->
    <select id="getAdminByUserId" resultType="com.example.springbootcrud.pojo.Admin">
        select * from admin where user_id=#{userId} 
    </select>
    <select id="getAllAdmin" resultType="com.example.springbootcrud.pojo.Admin">
        select * from admin
    </select>
    <select id="getAdminAvatar" resultType="string">
        select avatar from user where user_id=#{userId}
    </select>
</mapper>
