<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <title>Login</title>
    <script>
        $(function () {
            $("#tj").click(function () {
                $("#loginFrom").attr("action",this.href).submit();
                return false;
            })
        })
    </script>
    <style>
        a{
            text-decoration:none;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="login-wrapper">
        <div class="header">Login</div>
        <div class="form-wrapper">
            <span th:text="${msg}" style="color: red"></span>
            <form th:action="@{/loginUser}" id="loginFrom">
                <input type="text" name="username" placeholder="username" class="input-item">
                <input type="password" name="password" placeholder="password" class="input-item">
                <div class="btn"><a th:href="@{/login}" id="tj" class="text-decoration:none">登录</a></div>
            </form>
        </div>
        <div class="msg">
            Don`t have account? <a href="#">Sign up</a>
        </div>
    </div>
</div>
</body>
</html>